<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @follower.username %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @follower.twitter_id %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @follower.display_name %>
</p>

<p>
  <strong>References:</strong>
  <%= @follower.references %>
</p>

<%= link_to 'Edit', edit_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>
