<p id="notice"><%= notice %></p>

<h1>Listing Api Call Logs</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Successful</th>
      <th>API Path</th>
      <th>Twitter Handle</th>
      <th>Time of API call</th>
    </tr>
  </thead>

  <tbody>
    <% @api_call_logs.each do |api_call_log| %>
      <tr>
        <td><%= api_call_log.calldescription %></td>
        <td><%= api_call_log.successful %></td>
        <td><%= api_call_log.EndPointPath %></td>
        <td><%= api_call_log.TwitterHandle %></td>
        <td><%= api_call_log.calldatetime.in_time_zone("Auckland").strftime("%I:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
