<p id="notice"><%= notice %></p>

<h2>Datails</h2>

<p>
  <strong>Username:</strong>
  <%= @account.username %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @account.twitter_id %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @account.display_name %>
</p>

<hr>

<h2>Followers</h2>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Twitter</th>
      <th>Display name</th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td><%= follower.username %></td>
        <td><%= follower.twitter_id %></td>
        <td><%= follower.display_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Following</h2>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Twitter</th>
      <th>Display name</th>
    </tr>
  </thead>

  <tbody>
    <% @followings.each do |following| %>
      <tr>
        <td><%= following.username %></td>
        <td><%= following.twitter_id %></td>
        <td><%= following.display_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
