<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @account.username %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @account.twitter_id %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @account.display_name %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
